<div class="ma-footer-static" style="background:#f7f7f7">
    <div class="container">
        <br />
        <br />
        <div class="footer-static">
            <div class="row">
                <div class="f-col f-col-3 col-sm-6 col-md-4 col-sms-6 col-smb-12">
                    <div class="img-logo" style="background-color:#ef4339;width:74%; border: 1px dashed #d7d7d7;padding: 10px;border-radius:4px"><a href="#"><img src="~/Images/eco-mart.com.vn.jpg" alt=""></a></div>
                    <div class="footer-static-content ">
                        <marquee direction="left">
                            <h3>
                                Eco Mart - Cửa Hàng Bán Điện Thoại Uy Tín, Chất Lượng Hàng Đầu Việt Nam
                            </h3>
                        </marquee>
                        <p>Chuyên cung cấp các sản phẩm liên quan đến điện thoại uy tín-chất lượng hàng đầu Việt Nam!</p>
                    </div>
                </div>
                <div class="f-col f-col-4 col-sm-6 col-md-2 col-sms-6 col-smb-12">
                    <div class="footer-static-title">
                        <h3 style="font-weight:bold">THÔNG TIN</h3>
                    </div>
                    <div class="footer-static-content">
                        <ul>
                            <li class="first" style="list-style-type:square;"><a style="text-decoration:none" href="/Home/Index">Trang chủ</a></li>
                            <li style="list-style-type:square;text-decoration:none"><a style="text-decoration:none" href="/TinTuc/Index">Giới thiệu</a></li>
                            <li style="list-style-type:square;text-decoration:none"><a style="text-decoration:none" href="/Home/Index">Sản phẩm</a></li>
                            <li style="list-style-type:square;text-decoration:none"><a style="text-decoration:none" href="/TinTuc/Index">Tin tức</a></li>
                            <li class="last" style="list-style-type:square;text-decoration:none"><a style="text-decoration:none" href="r">Liên hệ</a></li>
                        </ul>
                    </div>
                </div>
                <div class="f-col f-col-5 col-sm-6 col-md-2 col-sms-6 col-smb-12">
                    <div class="footer-static-title">
                        <h3 style="font-weight:bold">HỖ TRỢ</h3>
                    </div>
                    <div class="footer-static-content ">
                        <ul>
                            <li class="first" style="list-style-type:square;text-decoration:none"><a style="text-decoration:none" href="">Mua trả góp</a></li>
                            <li style="list-style-type:square;text-decoration:none"><a style="text-decoration:none" href="restriction-mode">Góp ý, khiếu nại</a></li>
                            <li style="list-style-type:square;text-decoration:none"><a style="text-decoration:none" href="">Tìm kiếm sản phẩm</a></li>
                            <li style="list-style-type:square;text-decoration:none"><a style="text-decoration:none" href="">Thủ tục mua hàng</a></li>
                            <li class="last" style="list-style-type:square;text-decoration:none"><a style="text-decoration:none" href="">Thông tin</a></li>
                        </ul>
                    </div>
                </div>
                <div class="f-col f-col-6 col-sm-6 col-md-2 col-sms-6 col-smb-12">
                    <div class="footer-static-title">
                        <h3 style="font-weight:bold">CHÍNH SÁCH</h3>
                    </div>
                    <div class="footer-static-content">
                        <ul>
                            <li class="first" style="list-style-type:square;text-decoration:none"><a style="text-decoration:none" href="">Chính sách bảo hành</a></li>
                            <li style="list-style-type:square;text-decoration:none"><a style="text-decoration:none" href="">Chính sách đổi trả</a></li>
                            <li style="list-style-type:square;text-decoration:none"><a style="text-decoration:none" href="">Nội quy</a></li>
                            <li style="list-style-type:square;text-decoration:none"><a style="text-decoration:none" href="">Giao hàng & Thanh toán</a></li>
                            <li class="last" style="list-style-type:square;text-decoration:none"><a style="text-decoration:none" href="">Chất lượng</a></li>
                        </ul>
                    </div>
                </div>
                <div class="f-col f-col-7 col-sm-6 col-md-2 col-sms-6 col-smb-12">
                    <div class="footer-static-title">
                        <h3 style="font-weight:bold">LIÊN HỆ</h3>
                    </div>
                    <div class="footer-static-content">
                        <ul>
                            <li class="first" style="list-style-type:square;text-decoration:none"><a style="text-decoration:none" href="">Gọi mua hàng</a></li>
                            <li style="list-style-type:square;text-decoration:none"><a style="text-decoration:none" href="">Gọi khiếu nại</a></li>
                            <li style="list-style-type:square;text-decoration:none"><a style="text-decoration:none" href="">Gọi bảo hành</a></li>
                            <li style="list-style-type:square;text-decoration:none"><a style="text-decoration:none" href="">Thông tin liên hệ</a></li>
                            <li class="last" style="list-style-type:square;text-decoration:none"><a style="text-decoration:none" href="">Facebook - Youtube</a></li>
                        </ul>
                    </div>
                </div>
                <div class="f-col-12 col-sm-12 col-sms-12">
                    <img src="~/Images/vd.png" alt="Thanh toán" />
                </div>
            </div>
        </div>
    </div>
</div>
