<form class="navbar-form navbar-left" style="margin-left:92px;margin-top:6%" role="search" action="/Product/Search">
    <div class="input-group input-group-lg" style="margin-left:70px;margin-top:1px">
        <input type="text" name="keywords"  id="search" class="form-control" placeholder="Bạn tìm gì..." />
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
        </span>
    </div>
</form>